<app-header [title]="category"></app-header>

<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let product of productList">
      <ion-card>
        <div class="img-wrapper"> <ion-img [src]="imageService.getImage(product.urlImage)?.data"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
          <ion-card-title>{{ product.title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label class="product-description">{{ product.description }}</ion-label>
          <ion-label slot="start"><strong>{{ product.price | currency }}</strong></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-list>
    <ion-card *ngFor="let product of productList">
      <div class="img-wrapper">
        <ion-img [src]="imageService.getImage(product.urlImage)?.data"></ion-img>
      </div>
      <ion-card-header>
        <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
        <ion-card-title>{{ product.title }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-label style="display: block;">{{ product.description }}</ion-label>
        <ion-label slot="start"><strong>{{ product.price | currency }}</strong></ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list> -->
</ion-content>
