ion-card {
  margin: 10px;
}

ion-card-header {
  padding-bottom: 0;
  padding-top: 5px;
  ion-card-title {
    font-size: 1rem;
  }
}

.img-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
