<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content"
			type="overlay"
		>
			<ion-header>
				<ion-toolbar color="primary">
					<ion-title>Menu</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-list id="menu-list">
					<ion-menu-toggle>
						<ion-item *ngFor="let item of menu"
							[routerLink]="[item.url]"
							lines="none"
						>
							<ion-label>{{ item.title }}</ion-label>
						</ion-item>
            <ion-item *ngIf="this.authService.isLoggedIn$ | async" (click)="logout()">
              <ion-label>Logout</ion-label>
            </ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
